<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="RemoteUserEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=7NYTOUEZHTBI3PQ\SQLEXPRESS;initial catalog=RemoteUser;persist security info=True;user id=caijin;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="基于移动物联网技术的智能安防监控系统.Properties.Settings.RemoteUserConnectionString"
      connectionString="Data Source=STUDENT-PC\SQLEXPRESS;Initial Catalog=RemoteUser;Persist Security Info=True;User ID=sa;Password=123456"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="jkip1" value="192.168.1.193" />
    <add key="jkport1" value="7070" />
    <add key="jknote1" value="监控点 1" />
    <add key="jkip2" value="192.168.1.193" />
    <add key="jkport2" value="7070" />
    <add key="jknote2" value="监控点 2" />
    <add key="jkip3" value="pld1990.eicp.net" />
    <add key="jkport3" value="7070" />
    <add key="jknote3" value="监控点 3" />
    <add key="jkip4" value="192.168.1.191" />
    <add key="jkport4" value="7070" />
    <add key="jknote4" value="监控点 4" />
  </appSettings>
  
</configuration>

